@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

:root {
    --font-family: "Montaga", serif;
    --color-link: rgba(43, 17, 5, 1);
    --title-color: rgba(198, 117, 77, 1);
    --white-color: rgba(252, 249, 247, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: var(--white-color);
    font-family: var(--font-family);
}

/* debut du traitement de la nav-bar */
.nav  {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-link);
}

.nav li a:hover {
    text-decoration: underline;
}

.nav li img {
    height: 8rem;
}

/* debut du traitement de title */
.title {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title p {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--title-color);
}

.title h1 {
    font-size: 8rem;
    color: var(--color-link);
}

/* debut du traitement des slides */
.slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.slide > img {
    width: 70%;
}

/* debut du traitement des texts */
.text {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--title-color);
    color: var(--white-color);
    padding: 6rem;
    margin-top: 5rem;
}

.text h2 {
    font-size: 7rem;
    flex: 1;
    font-weight: 500;
}

.text .text_p {
    flex: 2;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}

.text p{
    font-size: 2rem;
}

/* debut du traitement de bg */
.bg {
    width: 100%;
    height: 50rem;
    background: url(../img/bg.png) center top / cover;
}

/* debut du traitement de smile */
.smile {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.smile .smile_text {
    flex: 1;
    width: 100%;
    height: 100%;
    /* background: var(--title-color); */
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    padding: 4rem;
    color: var(--color-link);
}

.smile .smile_text span {
    font-size: 2rem;
    font-weight: 500;
    color: var(--title-color);
}

.smile .smile_text h3 {
    font-size: 5rem;
    font-weight: 500;
}

.smile .smile_text p {
    font-size: 2rem;
    font-weight: 500;
}

.smile .smile_slide {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.smile .smile_slide .img1 {
    width: 75%;
    position: absolute;
    z-index: 1;
}

.smile .smile_slide .img2 {
    width: 70%;
    position: absolute;
    z-index: 2;
}

/* debut du traitement de hotel */

.hotel {
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

.hotel .box {
    height: 100%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    transition: all .30s ease;
}

.hotel .box h2 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-link);
}

.hotel .box p {
    font-size: 1.7rem;
    font-weight: 500;
}

.hotel .box button {
    color: var(--title-color);
    font-weight: 600;
    background: none;
    border: .2rem solid var(--title-color);
    font-family: var(--font-family);
    width: 10rem;
    font-size: 2rem;
    padding: .8rem 2rem;
    transition: all .30s ease;
}

.hotel .box:hover {
    transform: scale(1.1);
    border: .2rem solid var(--title-color);
    backdrop-filter: blur(.2rem);
    padding: 2rem 1rem;
    height: 30rem;
    box-shadow: 1rem .8rem 1rem var(--title-color);
}

.hotel .box:hover button{
    background: var(--title-color);
    color: var(--white-color);
}




